%p
  %strong
    %i
      - uname = comment.commenter[0, comment.commenter.index('@')]
      = link_to uname, posts_user_path(User.find_by_email(comment.commenter))
    said:  
  %br
  = comment.body
  %br
  %small
    = comment.created_at
    - if user_signed_in?
      - if current_user.email == comment.commenter || current_user == @post.user
        = link_to 'Delete', [comment.post, comment],  method: :delete, data: {confirm: 'Are you sure?'}
    