%h1 Sign in

= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %div
    = f.label :email
    = f.email_field :email, :autofocus => true

  %div
    = f.label :password
    = f.password_field :password

  - if devise_mapping.rememberable?
    %div= f.check_box :remember_me %> <%= f.label :remember_me

  %div= f.submit "Sign in"

= render "users/shared/links"
