<div id="commentsbypostchart" style="width:100%; height:400px;"></div>

<script>
  $(function () 
  { 
    $('#commentsbypostchart').highcharts(
    {
        chart: 
        {
            type: 'bar'
        },
        title: 
        {
            text: 'Comments By Post'
        },
        xAxis: 
        {
            categories: ['Comments'],
            minTickInterval: 1
        },
        yAxis: 
        {
            title: 
            {
                text: 'Post'
            },
            minTickInterval: 1
        },
        series:
        [
          <% @posts.take(10).each do |post| %>
	  {
	    name: '<%= post.title + " by " + post.user.username%>',
	    data: [<%= post.comments.count %>]
	  },
	  <% end %>
        ]
    });
  });
</script>
