<div id="hashtagschart" style="width:100%; height:400px;"></div>

<script>
  $(function () 
  { 
    $('#hashtagschart').highcharts(
    {
        chart: 
        {
            type: 'bar'
        },
        title: 
        {
            text: 'Top Hashtags'
        },
        xAxis: 
        {
            categories: ['Hashtag'],
            minTickInterval: 1
        },
        yAxis: 
        {
            title: 
            {
                text: 'Posts'
            },
            minTickInterval: 1
        },
        series:
        [
          <% @tagcounts.take(10).each do |tc| %>
	  {
	    name: '<%= tc[0] %>',
	    data: [<%= tc[1] %>]
	  },
	  <% end %>
        ]
    });
  });
</script>
