<div id="postsbyuserchart" style="width:100%; height:400px;"></div>
<script>
  $(function () 
  { 
    $('#postsbyuserchart').highcharts(
    {
        chart: 
        {
            type: 'bar'
        },
        title: 
        {
            text: 'Posts By User'
        },
        xAxis: 
        {
            categories: ['Posts'],
            minTickInterval: 1
        },
        yAxis: 
        {
            title: 
            {
                text: 'User'
            },
            minTickInterval: 1
        },
        series:
        [
          <% @users.take(10).each do |user| %>
	  {
	    name: '<%= user.username %>',
	    data: [<%= user.posts.count.to_s %>]
	  },
	  <% end %>
        ]
    });
  });
</script>
