%h1 
  = @tag

%h3 Top Tagged Posts
%p
  - @posts.each do |p|
    = link_to p.title, post_path(p)
    = "(" + pluralize(p.comments.count.to_s, "comment") + ") by "
    = link_to p.user.username, p.user
    %br