- if @posts.count == 0
  %strong There are no posts yet.
- else
  %table
    - @posts.each do |post|
      %tr
        %td
          %small
            %i= post.created_at.to_formatted_s(:short) + ":"
          = post.title
        %td
          %small
            %i by
            = link_to post.user.username, user_path(post.user)
        %td
          %small= link_to "View (" + pluralize(post.comments.count, "comment") + ")", post

%br
