= form_for @post do |f|
  -if @post.errors.any?
    #errorExplanation
      %h3= pluralize(@post.errors.count, "error") + ":"
      %ul
        -@post.errors.full_messages.each do |msg|
          %li= msg

  %p
    = f.label :title
    %br
    = f.text_field :title

  %p
    = f.label :text
    %br
    = f.text_area :text

  %p
    = f.submit