%p
  - @post.text.split(' ').each do |word|
    - if word[0] == '@'
      - us = User.find_by_username(word[1..word.length])
      - if us.nil?
        = word
      - else
        = link_to word, posts_user_path(us)
    - else 
      - if word[0] == '#'
        = link_to word, hashtag_path(word)
      - else
        = word