%p
  %h1= @post.title

-if user_signed_in? && @post.owner == current_user.email
  = link_to 'Edit', edit_post_path(@post)
  = link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure?'}

= render 'posttext'

%p
  %small
    %i Last Edited 
    = @post.created_at
  %i by 
  - uname = @post.user.username
  = link_to uname, posts_user_path(User.find_by_username uname) 

%hr

- if @post.comments.empty?
  %h3 No Comments
- else
  %h3= pluralize(@post.comments.count, "Comment") + ":"
  = render @post.comments

%hr

%h3 Add Comment
- if not user_signed_in?
  %i= (link_to "Sign in", new_user_session_path) + " to post comments!"
  %br
  %br
- else
  = form_for ([@post, @post.comments.build]) do |f|
    %p
      = f.label :commenter
      = f.text_field :commenter, value: current_user.email, :readonly => true
    %p
      = f.label :body
      = f.text_area :body
    %p
      = f.submit

= link_to 'All Posts', posts_path
    