<!DOCTYPE html>

%html
  %head
    %title Fritter
    = stylesheet_link_tag "application", media: "all", "data-turbolinks=track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag :defaults
    = csrf_meta_tags
  %body
    .container
      .navbar.navbar-default
        .navbar-header
          = link_to "Fritter", root_path, :class => "navbar-brand"
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            - if user_signed_in?
              %li
                = link_to current_user.email, posts_user_path(current_user)
            %li
              - if user_signed_in?
                = link_to "Sign Out", destroy_user_session_path, :method => :delete
              - else
                = link_to "Sign In", user_session_path
            %li
              = link_to "All Posts", posts_path
            %li
              = link_to "Statistics", statistics_path
          %ul.nav.navbar-nav.navbar-right
      
      .jumbotron
        - if flash[:notice]
          %p.notice= notice
        - if flash[:alert]
          %p.alert= alert
        = yield
